{% extends "base.html.twig" %}

{% block title %}Réintialiser son mot de passe{% endblock %}

{% block body %}
    <form method="post"><br>

        <h1>Mot de passe oublié ?</h1><br>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adresse mail" required autofocus>
        <br><br>
        <button class="btn" type="submit">
            Valider
        </button>
        {% for message in app.flashes('info') %}
            <div class="flash-info">
                {{ message }}
            </div>
        {% endfor %}
    </form>

{% endblock %}