{% extends "base.html.twig" %}

{% block title %}Réintialiser son mot de passe{% endblock %}

{% block body %}
    <h1>Mot de passe oublié ?</h1><br>

            {{ form_start(form) }}
            {{ form_row(form.email) }}

    <br>
    <button class="btn"type="">Annuler</button>
    <button class="btn" type="submit">Réinitialiser</button>

    {{ form_end(form) }}
{% endblock %}