{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row">
        <div class="col-7">
            Liste de mes produits
            <table class="table table-bordered">
                <caption>Liste des produits</caption>
                <thead>
                <tr><th>Produits</th></tr>
                </thead>
                <tbody>
                {% for produit in produits if produit is not empty %}
                    <tr>
                        <td>{{ produit.user }}</td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>

{% endblock %}