{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row">
        <div class="col-7">
            Liste de mes commandes
            <table class="table table-bordered">
                <caption>Liste des commandes</caption>
                <thead>
                <tr><th>id</th><th>date</th><th>etat</th></tr>
                </thead>
                <tbody>
                {% for commande in commandes if commande is not empty %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.date | date('d-m-Y') }}</td>
                        <td>{{ commande.etat.nom }}</td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>

{% endblock %}